[Unit]
Description=MTD Edge Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mtd-agent/agent
ExecStart=/opt/mtd-agent/venv/bin/python main.py
Restart=always
RestartSec=10
Environment=MTD_CONFIG=/opt/mtd-agent/config.json
Environment=MTD_DB=/opt/mtd-agent/cache.db
Environment=MTD_API_URL=http://192.168.0.109:8000
Environment=MTD_WS_URL=ws://192.168.0.109:8000/agent/ws
Environment=MTD_PLUGIN_DIR=/opt/mtd-agent/agent/integrations

[Install]
WantedBy=multi-user.target
